/*         algoritmos            */


$textos: (
   disp: inline-block,
   alineacion: center,
   pad: 5px,
   color: $color2,
);



p {
   display:map-get($textos, disp);
   align-items:map-get($textos, alineacion);
   padding:map-get($textos, pad);
   color:map-get($textos, color);
}

H2 {
  text-transform: uppercase; 
  @extend p
}

@mixin sizes ($ancho, $alto){
   width: $ancho;
   height: $alto;
};



