/* index */

#mainindex {
    justify-content: flex-end;
    align-items: center;
}

#noticia-wrap{
	display: flex;
	width: 100%;
	padding-left:15px; 
	padding-right:15px;

}

#caro-wrap{
	width: 100%;
}

.grid_index{
    display: grid;
    display: inline;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}


.bloque_noticia{
	border-style: groove;
	border-color: $color2;

}

@media screen and (min-width: 768px) {
  	.grid_index{
    	display: flex;
	};
	
	#noticia_wrap { 
		width: 25%;
		//overflow:auto;
		//height: 800px;
	}
	#caro-wrap{	width: 150%;}
}
