.dial{
    justify-content: flex-end;
}

.repro{
    display:inline-flex ;
}
.rueda{
    justify-content: flex-end;
    @include sizes (70px, 70px);
}



@keyframes  rotar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.animation {
    animation: rotar 8s infinite linear;
}