.rep{
    display: inline-flex;

}

.repro{
    display:inline-flex ;
}
.vinilo{
    justify-content: flex-end;
    display:inline-flex ;
    @include sizes (500px, 750px);
}

@keyframes  rotar{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

.animation {
    animation: rotar 8s infinite linear;
}